@import 'variables';
@import 'button';

#signup {
  color: white;
  margin-right: 20px;
}

#create-event {
  position: absolute;
  left: 0px;
  top: 5px;
  margin-left: 10px;
  padding: 8px 8px;
}


  .navbar-highlighted-button {
  box-sizing: border-box;

  width: auto;
  height: auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
  font-family: "aktiv-grotesk", sans-serif;
  margin: 0 8px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  color: black;
  transition: filter 0.2s ease;
  &:hover{
    background-color: $meetup-red;
    color: white;
  }
}

#invite {
  position: absolute;
  left: 150px;
  top: 10px;
  color: red;
  background-color: white;
}

input.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 1em ;
	padding: 4px 0px 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}
input.rounded:focus {
	border-color: red;
}

#searchBar {
  position: absolute;
  left: 140px;
  top: 8px;
}

.main-container-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    .categories-heading {
      display: block;
      width: 70%;
      margin: 25px 0 0 0;
      font-family: "aktiv-grotesk", sans-serif;
      font-size: 40px;
      text-align: center;
    }

    .categories-container {
      max-width: 1200px;
      padding: 20px 50px 0 50px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      .category-container {
        margin: 10px;
        .categories-link {
          text-decoration: none;
          color: black;
          cursor: pointer;
        }
        .categories-names {
          font-size: 22px;
          text-decoration: none;
          color: black;
          padding: 5px 50px 0 50px;
        }
      }
    }
}

.sample-events-elements {
}

.image {
  max-height: 175px;
  max-width: 225px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.image:hover {
  transform: scale(1.025);
}

div.scrollmenu {
    background-color: #fafafa;
    overflow: auto;
    white-space: nowrap;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin-bottom: 0;
}

div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

div.scrollmenu div:hover {
    background-color: rgba(0,0,0,.12);
}

$session-padding: 20px;
$session-form-margin-top: 10px;

.main-container-session {
  display: flex;
  justify-content: center;
}

.session-form-container {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  width: 460px;
  border: 1px solid $gray-border;
  border-bottom: 1px solid rgb(156, 156, 156);
  border-radius: 3px;
}

.session-form-title-container {
  padding-left: 20px;
  padding-top: 20px;
  border-bottom: 1px solid $gray-border;
  .session-form-title{
    display: block;
    color: $meetup-red;
    font-size: 43px;
    padding-bottom: 20px;
  }
}


.session-form {
  padding-left: $session-padding;
  padding-bottom: $session-padding;
  display: flex;
  flex-direction: column;
  .session-form-label{
    margin-top: $session-form-margin-top;
  }
  .session-form-submit {
    display: block;
    width: 90px;
    border-radius: 3px;
    margin-top: $session-form-margin-top;
    padding: 8px 16px;
    font-family: $meetup-font;
    background-color: $meetup-red;
    color: white;
    transition: background-color 0.2s ease;
    &:hover{
      background-color: $meetup-red-dark;
    }
  }
}

.session-form-guest-container {
  padding-left: $session-padding;
  padding-bottom: $session-padding;
  border-top: 1px solid $facebook-blue;
  background-color: rgb(178, 191, 210);
  .session-form-guest-or {
    display: block;
    position: relative;
    bottom: 8px;
    width: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: $meetup-font;
    border-radius: 3px;
    background-color: white;
  }
  .session-form-guest-btn {
    width: 95%;
    padding: 8px 16px;
    border-radius: 3px;
    font-family: $meetup-font;
    background-color: white;
    border: 1px solid $facebook-blue;
    text-align: center;
    color: tint($facebook-blue);
    transition: all 0.3s ease;
    &:hover {
      background-color: $facebook-blue;
      color: white;
    }

  }
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

#event-page-body {
  width: 960px;
  padding-top: 1em;
  min-height: 300px;
  padding-bottom: 1.25em;
  margin: 0 auto;
  padding: 0 1em;
  display: block;
  font-size: 16px;
  line-height: 1.45;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";
  color: rgba(0,0,0,.87);

  #event-page-content {
    min-height: 2971px;
    width: 100%;
    position: relative;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;

    #event-page-content-left-sidebar {
      margin: 0 0 0 200px;
      padding-left: .7em;

      #event-page-content-right-sidebar {
        position: relative;
        border-radius: 3px;
        background-color: #fff;
        margin-bottom: 16px;
        border: 1px solid rgba(0,0,0,.12)!important;
        border-bottom: 1px solid rgba(0,0,0,.26)!important;
        background-clip: padding-box;
      }

    }

  }

}

#event-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  font-size: 16px;
  line-height: 1.45;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";
  margin: 0;
  padding: 0;

  #sidebox {
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 16px;
    border: 1px solid rgba(0,0,0,.12)!important;
    border-bottom: 1px solid rgba(0,0,0,.26)!important;
    background-clip: padding-box;
    font-size: 16px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga","kern";
  }
}

div.line {
  display: block;
  font-size: 16px;
  line-height: 1.45;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";
  overflow-y: scroll;
  color: rgba(0,0,0,.87);
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0!important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
  speak: none;

  .unit-left {
    float: none;
    border-right: 1px solid #ddd;
    display: table-cell;
    vertical-align: top;
    width: 71.42855%;
    min-height: 1px;

    .doc-content {
      border-top-left-radius: 3px;
      border-radius: 0;
      border-top: none;
      width: 502px;
      border-bottom: 1px solid transparent;
      padding: 16px 16px 0;
      display: block;

      h3.text {
        font-size: 28px;
        line-height: 1.25;
        stroke: transparent;
        fill: rgba(0,0,0,.87);
        color: rgba(0,0,0,.87);
        font-weight: 600;
        letter-spacing: -.02em;
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
      }

      .event_content {
        position: relative;
        z-index: 100;
        padding-top: 16px;
      }
    }
  }

  .unit-right {
    max-width: 209px;
    border-radius: 0 4px 4px 0;
    border-right: 0;
    vertical-align: top;
    display: table-cell;
    float: none;
    width: auto;
  }
}

#h3-going {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -.02em;
  stroke: transparent;
  fill: rgba(0,0,0,.87);
  color: rgba(0,0,0,.87);
  margin: 0;
  padding: 0 0 8px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";
}

.list-going {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  font-size: 16px;
  line-height: 1.45;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";

  .li-going {
    padding: 0;
    margin: 0;
  }
}

#event-when {
  padding: 0;
  margin: 0;
  color: #272727;
  background-color: #FFF;
  background: #D7E9F6;
  display: list-item;
  text-align: -webkit-match-parent;
  font-size: 16px;
  line-height: 1.45;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";
}

#event-where {
  padding: 8px 0 0;
  margin: 0;
  color: #272727;
  background-color: #FFF;
  background: #D7E9F6;
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.45;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";
}

#event-description {
  overflow: hidden;
  width: 500px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  line-height: 1.4;
  position: relative;
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 1.33em;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  font-size: 16px;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0!important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
  speak: none;
}

.list-of-sample-events {
  list-style-type: none;
  margin: 0;
  padding: 16px;
  overflow: hidden;
}

.sample-event-li {
  display: block;
  float: left;
  margin:0 20px 20px 0;
  padding: 16px;
  width: 240px;
  height: 240px;
}

.event-li {

  display: block;
  width: 175px;
  height: 200px;
  padding: 16px;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0,0,0,.26);
  line-height: 1.1;
  font-size: 20px;
  letter-spacing: -.02em;
  font-weight: 600!important;
}

.navbar-container {
  border-bottom: 1px solid $gray-border;
  background-color: white;
  width: 100%;
  padding: 5px 0;
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .navbar-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .navbar-logo {
        height: 50px;
        width: auto;
        position: absolute;
        top: 3.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
      }
    }
    .navbar-buttons-container {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      .navbar-profile-img {
        height: 25px;
        margin: 0 0 0 10px;
        border-radius: 50%;
      }
      .navbar-button {
        @include meetup-button;
      }
    }
  }
}

#logout {
  @include meetup-button;
  @include red-button;
  color: white;
}
.red-button {
  @include red-button;
}

.children-container {
  min-height: 83vh;
}

.footer {
  margin-top: 20px;
  background-color: black;
  color: white;
  .list {
    display: flex;
    padding: 20px 100px;
    border-top: 1px solid white;
    li {
      padding: 10px;
    }
  }
}

#event-page-content1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-height: 2971px;
  width: 960px;
  font-size: 16px;
  line-height: 1.45;
  padding: 0 1em;
  padding-bottom: 1.25em;
  padding-top: 1em;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";
  color: rgba(0,0,0,.87);
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","kern";
  margin: auto;
  .left-side-bar {
    border: 1px solid rgba(0,0,0,.12)!important;
    border-bottom: 1px solid rgba(0,0,0,.26)!important;
    background-clip: padding-box;
  }

  .middle-bar {
    border: 1px solid rgba(0,0,0,.12)!important;
    border-bottom: 1px solid rgba(0,0,0,.26)!important;
    background-clip: padding-box;
  }

  .right-side-bar {
    border: 1px solid rgba(0,0,0,.12)!important;
    border-bottom: 1px solid rgba(0,0,0,.26)!important;
    background-clip: padding-box;
  }
}
